body{
  padding-top: 30px;
  font: 20px/1.5 Arial, Helvetica,sans-serif;
}

img{
  padding-bottom: 10px;
}

h3{
  font-weight: bold;
}

a{
  color: #25b1d8;
}

div{
  padding-bottom: 10px;
  text-align: left;
}

#divisorio{
  padding-top: 30px;
  padding-bottom: 30px;
}


#showcase{
  min-height: 400px;
  background: url('../img/wallpaper1.jpg');
  background-size:cover;
  text-align: center;
  color: #ffffff;
  font: 45px,Montserrat, Helvetica;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  font-weight: bold;
}

#ImgReagenti{
  padding-bottom: 40px;
}

#ImgVetreria{
  padding-bottom: 40px;
}

#ImgAttrezzatura{
  padding-bottom: 35px;
}

#IconaNavbar{
  padding-bottom: 0px;
  padding-right: 15px;
  height: 60px;
  width: 80px;
}

#LogoItis{
  height: 70px;
  width: 165px;
  padding-right: 10px;
  padding-bottom: 10 px;
}

#showcase p{
  font-size:20px;
}

#boxes{
  margin-top: 20px;
}


#BrandTitle{
  color: #25b1d8;
  font-weight: bold;
  font-size: 2rem;
}

#FormBottoneAccesso{
  padding-top: 15px;
  text-align: center;
}

#BottoneAccesso{
  padding-right: 12px;
  padding-left: 12px;
  align-items: center;
  text-align: center;
}


#PillBox{
  max-width: 500px;
  padding-right: 5px;
  background-color:  #f8a018;
  border-style: groove;
}

#PillBox h1{
  margin-top: 30px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: sans-serif;
}

#NavbarList{
  margin-top: revert;
}

ul#services li{
  font-size: 12px;
  text-align: left;
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

ul#services h3{
  color: #25b1d8;
  text-align: left;
  padding-bottom: 10px;
}


#AttrezzaturaMain{
  padding-top: 80px;
}

#Inserimento{
  font-size: 12px;
  background-color: #e6e6e6;
  padding: 5px;
  padding-top: 20px;
}

#InserisciElemento{
  font-size: 12px;
  padding-top: 100px;
}

ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}
/*Nuove cose per la sidebar*/
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;7
  padding-top: 1800px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

.dark{
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:80px;
  margin-bottom:10px;
  margin-left: 15px;
}
/* fine cose per la sidebar*/
.nav-link{
  font-size: x-large;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
        background-image: none
        font: 15px/1.5 Arial, Helvetica,sans-serif;;
        background-size: auto;
    background-size: 100% 100%;
}

.navbar-brand{
  height: 70px;
  line-height: 60px;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}


.btn-outline-success {
    color: #25b1d8;
    border-color: #25b1d8;
    font-size: 1.340rem;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #25b1d8;
    border-color: #25b1d8;
}

.row{
}
