body{
  padding-top: 70px;
}

img{
  padding-bottom: 40px;
}

h3{
  font-weight: bold;
}


a{
  color: #25b1d8;
}

#divisorio{
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-brand{
  height: 70px;
  line-height: 60px;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#showcase{
  min-height: 400px;
  background: url('../img/wallpaper1.jpg');
  background-size:cover;
  text-align: center;
  color: #ffffff;
  font: Montserrat, Helvetica;;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  font-weight: bold;
}

#IconaNavbar{
  padding-bottom: 0px;
  padding-right: 15px;
  height: 60px;
  width: 80px;
}

#showcase p{
  font-size:20px;
}

#boxes{
  margin-top: 20px;
}

.btn-outline-success {
    color: #25b1d8;
    border-color: #25b1d8;
    font-size: 1.340rem;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #25b1d8;
    border-color: #25b1d8;
}

#BrandTitle{
  color: #25b1d8;
  font-weight: bold;
  font-size: 2rem;
}

#BottoneAccesso{
  padding-right: 12px;
  padding-left: 12px;
}

.nav-link{
  font-size: x-large;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
        background-image: none;
        background-size: auto;
    background-size: 100% 100%;
}

#PillBox{
  max-width: 500px;
  padding-right: 5px;
  border-style: groove;
}

#PillBox h1{
  margin-top: 10px;
  color: #f8a018;
  font-weight: bold;
}
